{% extends 'map_dashboard/base.html'%}

{% block extra_css %}
<style>

nav > .nav.nav-tabs{

border: none;
  color:#fff;
  background:#272e38;
  border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
border: none;
  padding: 18px 25px;
  color:#fff;
  background:#008000;
  border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
  border-bottom-color: darkorange;
/* content: "";
position: relative;
bottom: -60px;
left: -10%;
border: 15px solid transparent;
border-top-color: #e74c3c ; */
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border-bottom-color: darkorange;
/* border: none;
  background: #e74c3c;
  color:#fff;
  border-radius:0; */
  transition:background 0.20s linear;
}


 body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.mapdiv{
    width: 100%;
    height: 100%;
   
}
.selection{
    align-content: center;
}

.tab{
    width: 100%;

}

.just-padding {
    padding: 15px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 2;
    border-width: 1px 0 0 0;
    width: auto;  
    height: 35px; 
    background-color:#D93545;
    color:white;
    margin-top: 20px;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    margin-left:40px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    margin-left: 40px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}


.dd{
  margin-left: 10%;

}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 100px;          
  height: 50px;          
  padding: 2px;       
  font: 15px sans-serif;  
  font-weight: bold;    
  background: #fff; 
  border: 0px;
  border-radius: 50px;
  pointer-events: none;     
}


</style>
{% endblock %}
{% block map_content %}

  <div class="container-fluid">
    <div class="row mb-5">
      <div class="col-xs-12">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab">
            <a class="nav-item nav-link" id="nav-tab1"  href="#" >Manifestation</a>
            <a class="nav-item nav-link" id="nav-tab2"  href="#" >Immediate Causes</a>
            <a class="nav-item nav-link" id="nav-tab3" href="#" >Underlying Causes</a>
            <a class="nav-item nav-link active" id="nav-tab4"  href="#" >Basic Causes</a>
            <a class="nav-item nav-link" id="nav-tab5"  href="#" >Contact Us</a>
            <a class="nav-item nav-link" id="nav-tab6"  href="#">About</a>
          </div>
        </nav>
    </div>
    </div>
    </div>
 
       <form method="POST" name="nutriInfo">
        <div class="row mt-2">
            <div class="col-3">
              <select class="custom-select" name ="area_select" id="area-1"> 
                {% for area in areaList %} 
                    <option value = "{{ area.area_id }}">{{ area.area_name }}
                    </option>
                {% endfor %}                              
            </select> 
          </div>
            <div class="col-3">
          <select class="custom-select" name ="indicator_select" id="indicator-1"> 
            {% for indicator in indicatorList %} 
                <option value = "{{ indicator.indicator_id }}">{{ indicator.indicator_name }}
                </option>
            {% endfor %}                              
        </select> 
      </div>
      <div class="col-3">
        <select class="custom-select" name ="subgroup_select" id="subgroup-1"> 
          {% for subgroup in subgroupList %} 
              <option value = "{{ subgroup.subgroup_id }}">{{ subgroup.subgroup_name }}
              </option>
          {% endfor %}                               
      </select> 
    </div>
    <div class="col-3">
      <select class="custom-select" name ="timeperiod_select" id="timeperiod-1"> 
        {% for timeperiod in timeperiodList %} 
            <option value = "{{ timeperiod.timeperiod_id }}">{{ timeperiod.timeperiod }}
            </option>
        {% endfor %}                              
    </select> 
  </div>
      </div>
       </form>
      <div class="row mt-5">

        <div class="col-4" id="chart3">
          <!-- <svg></svg> -->
        </div>

        <div class="col-4" id="chart1">
          <!-- <svg></svg> -->
        </div>
        <div class="col-4" id="chart2">
          <!-- <svg></svg> -->
        </div>
      </div>
       
              
         
  <script>

    //Reading data
   const width = 920;
  const height = 580;
  var areaSelected= $("area-1").val();
  const svg1 = d3
      .select("#chart1").append("svg")
      .attr("width", width)
      .attr("height", height);
  const svg2 = d3
      .select("#chart2").append("svg")
      .attr("width", width)
      .attr("height", height);
  const svg3 = d3
      .select("#chart3").append("svg")
      .attr("width", width)
      .attr("height", height);

 var mercator = d3 .geoMercator().scale(1);
 const pathGenerator = d3.geoPath().projection(mercator);
   
 var districtJson='/static/json/india-district.json';
 var stateJson='/static/json/india-state.json';
 const margin = {left:200,top:100 ,right:40,bottom:20};
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

$('#nav-tab1').click(function() {
  var areaSelected= $('#area-1').val();

  var url = "{% url 'tab1' %}?area="+areaSelected;
      $(location).attr('href', url);
      window.location = url;
});
$('#nav-tab2').click(function() {
  var areaSelected= $('#area-1').val();

var url = "{% url 'tab2' %}?area="+areaSelected;
    $(location).attr('href', url);
    window.location = url;
});
$('#nav-tab3').click(function() {
  var areaSelected= $('#area-1').val();

  var url = "{% url 'tab3' %}?area="+areaSelected;
      $(location).attr('href', url);
      window.location = url;
});

 $("#area-1").change(function(){
  svg1.selectAll('*').remove();
  svg2.selectAll('*').remove();
  svg3.selectAll('*').remove();
  $.ajax({
        url : "{% url 'ajaxAreaTab4' %}", // the endpoint
        type : "POST", // http method
        data : { area : $('#area-1').val(),
        indicator : $('#indicator-1').val(),
        subgroup : $('#subgroup-1').val(),
        tab:"tab4"
         }, 
        
         success : function(response) {
          $('#timeperiod-1').empty();
            var  new_options = response.timeresults;
                $.each(new_options, function(key, value) {   
                    $('#timeperiod-1')
                        .append($('<option>', { value:value.timeperiod_id })
                        .text(value.timeperiod)); 
                });
                var data_state = JSON.parse(response.context.data_level2);
                var data2 = []
                data_state.forEach(element => {
                  data2.push(element.fields);
                  });
                addProperties(data2, stateJson, svg1);

                if(response.area_level > 1)
                {
                var selectArea_data = JSON.parse(response.context.select_area_data);
                var data3 = []
                selectArea_data.forEach(element => {
                  data3.push(element.fields);
                  });
    
                var selectArea_geodata = JSON.parse(response.context.select_area_geodata);
                addPropertiesSelectedArea(data3, selectArea_geodata, svg3);
                }
                else{
                  addProperties(data2, stateJson, svg3);
                }

                var data_district = JSON.parse(response.context.data_level3);
                var data1 = []
                data_district.forEach(element => {
                  data1.push(element.fields);
                  });
                addProperties(data1, districtJson, svg2);

                


         }
  
  
  });

 });

      $("#indicator-1").change(function(){
        svg1.selectAll('*').remove();
        svg2.selectAll('*').remove();
        svg3.selectAll('*').remove();
        $.ajax({
        url : "{% url 'ajaxIndicatorTab4' %}", // the endpoint
        type : "POST", // http method
        data : { indicator : $('#indicator-1').val(),
        area : $('#area-1').val(),
        tab:"tab4"
         }, // data sent with the post request

        // handle a successful response
        success : function(response) {

             // remove the value from the input
           // console.log(json); // log the returned json to the console
            $('#subgroup-1').empty();
            var  new_options = response.subresults;
                $.each(new_options, function(key, value) {   
                    $('#subgroup-1')
                        .append($('<option>', { value:value.subgroup_id })
                        .text(value.subgroup_name)); 
                });

            $('#timeperiod-1').empty();
            var  new_options = response.timeresults;
                $.each(new_options, function(key, value) {   
                    $('#timeperiod-1')
                        .append($('<option>', { value:value.timeperiod_id })
                        .text(value.timeperiod)); 
                }); 


                var data_state = JSON.parse(response.context.data_level2);
                var data2 = []
                data_state.forEach(element => {
                  data2.push(element.fields);
                  });
                addProperties(data2, stateJson, svg1);

                if(response.area_level > 1)
                {
                var selectArea_data = JSON.parse(response.context.select_area_data);
                var data3 = []
                selectArea_data.forEach(element => {
                  data3.push(element.fields);
                  });
                
                var selectArea_geodata = JSON.parse(response.context.select_area_geodata);
                addPropertiesSelectedArea(data3, selectArea_geodata, svg3);
                }
                else{
                  addProperties(data2, stateJson, svg3);
                }

                var data_district = JSON.parse(response.context.data_level3);
                var data1 = []
                data_district.forEach(element => {
                  data1.push(element.fields);
                  });
                addProperties(data1, districtJson, svg2);

               
        }

    });
      });

      $("#subgroup-1").change(function(){
        svg1.selectAll('*').remove();
        svg2.selectAll('*').remove();
        svg3.selectAll('*').remove();
        $.ajax({
        url : "{% url 'ajaxSubgroupTab4' %}", // the endpoint
        type : "POST", // http method
        data : { indicator : $('#indicator-1').val(),
        subgroup: $('#subgroup-1').val(),
        area: $('#area-1').val(),
        tab:"tab4"
         }, // data sent with the post request

        // handle a successful response
        success : function(response) {

             // remove the value from the input
           // console.log(json); // log the returned json to the console
  
          $('#timeperiod-1').empty();
            var  new_options = response.timeresults;
                $.each(new_options, function(key, value) {   
                    $('#timeperiod-1')
                        .append($('<option>', { value:value.timeperiod_id })
                        .text(value.timeperiod)); 
                });   
                var data_state = JSON.parse(response.context.data_level2);
                var data2 = []
                data_state.forEach(element => {
                  data2.push(element.fields);
                  });
                addProperties(data2, stateJson, svg1);

                if(response.area_level > 1)
                {
                var selectArea_data = JSON.parse(response.context.select_area_data);
                var data3 = []
                selectArea_data.forEach(element => {
                  data3.push(element.fields);
                  });
  
                var selectArea_geodata = JSON.parse(response.context.select_area_geodata);
                addPropertiesSelectedArea(data3, selectArea_geodata, svg3);
                }
                else{
                  addProperties(data2, stateJson, svg3);
                }

                var data_district = JSON.parse(response.context.data_level3); 
                var data1 = []
                data_district.forEach(element => {
                  data1.push(element.fields);
                  });
                addProperties(data1, districtJson, svg2);

               
        }

    });
      });


      $("#timeperiod-1").change(function(){
        svg1.selectAll('*').remove();
        svg2.selectAll('*').remove();
        svg3.selectAll('*').remove();
        $.ajax({
        url : "{% url 'ajaxTimeperiodTab4' %}", // the endpoint
        type : "POST", // http method
        data : { indicator : $('#indicator-1').val(),
        subgroup: $('#subgroup-1').val(),
        timeperiod: $('#timeperiod-1').val(),
        area: $('#area-1').val(),
        tab:"tab4"
         }, // data sent with the post request

        // handle a successful response
        success : function(response) {

             // remove the value from the input
           // console.log(json); // log the returned json to the console

                var data_state = JSON.parse(response.context.data_level2);
                var data2 = []
                data_state.forEach(element => {
                  data2.push(element.fields);
                  });
                addProperties(data2, stateJson, svg1);

                if(response.area_level > 1)
                {
                var selectArea_data = JSON.parse(response.context.select_area_data);
                var data3 = []
                selectArea_data.forEach(element => {
                  data3.push(element.fields);
                  });
                
                var selectArea_geodata = JSON.parse(response.context.select_area_geodata);
                addPropertiesSelectedArea(data3, selectArea_geodata, svg3);
                }
                else
                {
                  addProperties(data2, stateJson, svg3);
                }


                var data_district = JSON.parse(response.context.data_level3);
                var data1 = []
                data_district.forEach(element => {
                  data1.push(element.fields);
                  });
                addProperties(data1, districtJson, svg2);

               


                
        }

    });
      });

      const renderSelectedarea = (data, geojson, svg) => {
    const g = svg.append("g");
    var scaleCenter = calculateScaleCenter(geojson);
    mercator.scale(8000)
        .center(scaleCenter.center)
        .translate([width/2, height/2]);
    var tooltip = d3.select("body").append("div") 
          .attr("class", "tooltip")       
          .style("opacity", 0);
  let c1Value  = d => d.properties.dataValue;
  const onMouseOver = d =>{	
    if(typeof d.properties.dataValue != 'undefined')
    {
  tooltip.transition().duration(200).style("opacity", .9);		
  tooltip.html("<b>"+d.properties.dt_name+"</b><br><b>Value:</b>"+d.properties.dataValue)
      .style("left", d3.event.pageX + "px")
      .style("top",  d3.event.pageY - 30 + "px");	
    }
  };
  
  let myColor = (opt,v) =>{
    let min,max,comp, low, high;  
      min = d3.min(data,c1Value);
      max = d3.max(data,c1Value);
      comp = (max - min)/3;
      low = min+comp;
      high =max -comp;
    if (typeof v != "undefined") {
    
           if (v < low) return "#24562B";
            //matte green
            else if (v >= low && v <= high) return "#FFE338";
            //matte yellow
            else if (v > high) return "#B2022F"; //matte red
    }
    else {
      return "#A9A9B0";
    }
  };  
  	let paths = g.selectAll('path').data(data);
    let pathEnter = 
    paths.enter().append('path').attr('d',pathGenerator).attr('class','my-block')
    .style("fill", d =>myColor(1,c1Value(d))).on("mouseover", d => onMouseOver(d))          
    .on("mouseout", function(d) {   
              tooltip.transition()    
              .duration(500)    
              .style("opacity", 0); 
            });
     
  };

let data_state = {{ context.data_level2 | safe }};
let data_district = {{ context.data_level3 | safe }};
let data_selectarea = {{ context.select_area_data | safe }};
let geoJsonData = {{ context.select_area_geodata | safe }};
let area_level = {{ area_level }};
  
  var data1 = []
  data_state.forEach(element => {
    data1.push(element.fields);
  });

  var data2 = []
  data_district.forEach(element => {
    data2.push(element.fields);
  });

  if(area_level > 1)
  {
  var data3 =[]
  data_selectarea.forEach(element => {
    data3.push(element.fields);
  });
 
  //let select_area_geodata = JSON.parse(geoJsonData);
  addPropertiesSelectedArea(data3, geoJsonData, svg3);
  }
  else{
  addProperties(data1, stateJson, svg3);
  }






  const render = (data, svg) => {
    const g = svg.append("g");
    // var scaleCenter = calculateScaleCenter(geojson);
    // console.log(scaleCenter.center, scaleCenter.scale, "in render" );
    // mercator.scale(scaleCenter.scale)
    //     .center(scaleCenter.center)
    //     .translate([width/2, height/2]);
    const mercator = d3
      .geoMercator()
      .scale(800)
      .translate([width / 2, height / 2])
      .center([73, 19.7]);
    const pathGenerator = d3.geoPath().projection(mercator);
    var tooltip = d3.select("body").append("div") 
          .attr("class", "tooltip")       
          .style("opacity", 0);
  let c1Value  = d => d.properties.dataValue;
  const onMouseOver = d =>{	
    if(typeof d.properties.dataValue != 'undefined')
    {
  tooltip.transition().duration(200).style("opacity", .9);		
  tooltip.html("<b>"+d.properties.NAME1_+"</b><br><b>Value:</b>"+d.properties.dataValue)
      .style("left", d3.event.pageX + "px")
      .style("top",  d3.event.pageY - 30 + "px");	
    }
  };
  
  let myColor = (opt,v) =>{
    let min,max,comp, low, high; 
      min = d3.min(data,c1Value);
      max = d3.max(data,c1Value);
      comp = (max - min)/3;
      low = min+comp;
      high =max -comp;
    if (typeof v != "undefined") {
           if (v < low) return "#24562B";
            //matte green
            else if (v >= low && v <= high) return "#FFE338";
            //matte yellow
            else if (v > high) return "#B2022F"; //matte red
    }
    else {
      return "#A9A9B0";
    }
  };
  	let paths = g.selectAll('path').data(data);
    let pathEnter = 
    paths.enter().append('path').attr('d',pathGenerator).attr('class','my-block')
    .style("fill", d =>myColor(1,c1Value(d))).on("mouseover", d => onMouseOver(d))          
    .on("mouseout", function(d) {   
              tooltip.transition()    
              .duration(500)    
              .style("opacity", 0); 
            });
     
  };

  addProperties(data1, stateJson, svg1);
  addProperties(data2, districtJson, svg2);



  function addPropertiesSelectedArea(data, geojson, svg)
 {
 if( data != "")
 {
    for (var i = 0; i < data.length; i++) {
		  var areaname = data[i].area_name;

        //var datac2 = data[i].c2;
        
      for (var j = 0; j < geojson.features.length; j++)  {
     
		  var jsonAreaName = geojson.features[j].properties.dt_name;
        
          if (areaname.trim() === jsonAreaName.trim()) { 
            geojson.features[j].properties.dataValue = data[i].data_value;
		  
         // json.features[j].properties.c2 = +datac2; 
          break;
        }
      }
      }
  renderSelectedarea(geojson.features, geojson, svg); 
  }
  else{
    svg.append('text').text('No data: please select another survey')
    .attr('x', "20%")
    .attr('y', "10%")
    .attr('fill', 'black')
  }
 }
  

 function addProperties(data, geojson, svg)
 {

 if( data != "")
 {
  d3.json(geojson).then(json =>{
      for (var i = 0; i < data.length; i++) {
      	var areacode = data[i].area_code;
		  var areaname = data[i].area_name;
        var dataValue = data[i].data_value;
       
			 
        //var datac2 = data[i].c2;
        
      for (var j = 0; j < json.features.length; j++)  {
		  var jsonAreaId = json.features[j].properties.ID_;
        var jsonAreaName = json.features[j].properties.NAME1_;
        
          if (areacode == jsonAreaId) {

            
	      json.features[j].properties.dataValue = +dataValue; 
		  
         // json.features[j].properties.c2 = +datac2; 
          break;
        }
      }
      }
      render(json.features, svg);
    }); 
  }
  else{
    svg.append('text').text('No data: please select another survey')
    .attr('x', "20%")
    .attr('y', "10%")
    .attr('fill', 'black')
  }
 }

 function calculateScaleCenter(features) {
                    
                    var bbox_path = pathGenerator.bounds(features),
                    scale = 0.95 / Math.max(
                        (bbox_path[1][0] - bbox_path[0][0]) / innerWidth,
                        (bbox_path[1][1] - bbox_path[0][1]) / innerHeight
                    );
                    console.log(scale,'scale')
                    var bbox_feature = d3.geoBounds(features),
                    center = [
                        (bbox_feature[1][0] + bbox_feature[0][0]) / 2,
                        ((bbox_feature[1][1] + bbox_feature[0][1]) / 2)]; 
                    
                    console.log(center,"center")
              
                    return {
                        'scale': scale,
                        'center': center
                    };
                }


$(function ()
{
  const queryString = window.location.search;
  console.log(queryString);
  const urlParams = new URLSearchParams(queryString);
  const area_select = urlParams.get('area')
  
  $("#area-1").val(area_select);

}); 

 
  </script>
{% endblock %}